id: g3planet-blue-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: g3planet-blue
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 2
  replicaSelector:
    name: g3planet-blue
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: g3planet-blue
      app: g3planet-blue
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: g3planet-blue
        containers:
          - name: g3planet-blue
            image: octoblu/g3planet:$SHORT_COMMIT
            ports:
              - containerPort: 9000
            env:
              - name: MONGODB_URI
                value: $MONGODB_URI
